body {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: blueviolet;
  margin: none;
  padding: none;
}

header {
    display: flex;
    flex: 1;
    flex-wrap: row wrap;
    background-color: darkolivegreen;
    padding-left: 30px; 
    padding-right: 25px;                                            
    margin: -10px;
    height: 10px;
    width: 100%;
    align-items: center;
  
}

.left {
   color: darkorange;
   flex: 3;
   font-size: 24px;
   font-weight: 700;
}

.links {
    color: darkorange;
    flex: 1;

}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 20px;
}

li {
    
    

}

.intro {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 20px;

}

.bigimg {
    flex: 0;
    margin-left: 200px;
    margin-right: 300px;
    width: 300px;
    height: 300px;
   
}
img {
    height: 200px;
    width: 200px; 
    flex-shrink: 0;
}

.bigtext {
    font-size: 28px;
    font-weight: 900;
}

.smalltext {
    margin: 10px;
    font-size: 10px;
    font-style: italic;
}

.button {
    background-color: darkorange;
    border: none;
    color: darkolivegreen;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    height: 10px;
    width: 50px;
    border-radius: 50%;
    
}

.info {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    background-color: darkolivegreen;
    width: 100%;
    margin: -10px;
    padding-left: 50px;
   
    
    
}

.facts {
    flex: 1;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 800;
    
    
}

.proof {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    width: 100%;
  
    
}
.obey   {
    width: 200px;
    height: 100px;
    flex-flow: column wrap;
    padding: 10px;
}
/* I couldn't get the text to stay below the boxes*/

.boxing {
    display: flex;
    flex: 1;
    flex-flow: column wrap; 
    padding-bottom: 100px;
    padding-top: 25px;
    font-size: 12px;
    width: 100px;

   
}

.testimony {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(165, 106, 221);
    padding-left: 30px; 
    padding-right: 25px;                                            
    margin: -10px;
    margin-right: 100%;
    height: 400px;
    width: 100%
    
}

.testimonial {
    font-size: 30px;
    font-style: italic;
    padding: 50px;
}

.small {
    font-size: 20px;
    font-style: italic;
    padding: 25px;
    align-self: flex-end;
    
}

.action {
    display: flex;
    flex: 1;
    background-color: darkorange;
    height: 50%;
    width: 80%;
    margin: 50px;
    align-self: center;
    
}

.box {
    padding: 20px;
     
}

.call {
    color: blanchedalmond;
    font-weight: 700;
    font-size: 30px;
    
}

.there {
    color: blanchedalmond;
    font-size: 25px;
    font-weight: 500;
 
}

.empty {
    display: flex;
    flex: 1;
}

.over {
   justify-content: center;
   align-self: center;
   background-color: darkorange;
   border: white;
   border-style: dotted;
   color: darkolivegreen;
   padding: 50px;
   font-weight: 900;
   font-size: 30px;
   height: auto;
   width: auto;
   border-radius: 50%;
   
}

footer{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: rgb(115, 35, 190);
    padding-left: 30px; 
    padding-right: 25px;                                            
    margin: -10px;
    height: 10px;
    width: 100%;

   
    
}